table, th, td {
    border: 1px solid rgb(var(--main-color-dark));
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    font-size: large;
}

th {
    color: rgb(var(--main-color));    
}

table {
    width: 100%;
}

label {
    margin-right: 1em;
}

input {
    border: 1px solid rgb(var(--main-color));
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
    transition: 0.2s;
}

input:focus {
    border: 1px solid rgb(var(--main-color-dark));
}

.table-input {
    font-size: large;
    width: 100%;
    height: 100%;
    display: table-cell;
    outline: none;
    border-radius: 0;
    border: 0;
}

.table-input:focus {
    border: 0;
}

.delete-row {
    display: table-cell;
    background-color: rgb(255, 70, 70);
    color: rgb(var(--bg-light));
    border: 0;
    width: 100%;
    height: 100%;
}

.delete-row:hover {
    background-color: rgb(198, 63, 51);
    cursor: pointer;
}
